<!DOCTYPE html>
<html>
<head>
	<title>Facebook Reaction</title>
	<link rel="stylesheet" type="text/css" href="pages_asset/css/fbreaction.css">
</head>
<body>
	<div class="feed">
		<a href="" class="like-btn">
			<div class="reaction-box">
				<div class="reaction-icon">
					<label>
						Like
					</label>
				</div>
				<div class="reaction-icon">
					<label>
						Love
					</label>
				</div>
				<div class="reaction-icon">
					<label>
						Haha
					</label>
				</div>
				<div class="reaction-icon">
					<label>
						Wow
					</label>
				</div>
				<div class="reaction-icon">
					<label>
						Sad
					</label>
				</div>
				<div class="reaction-icon">
					<label>
						Angry
					</label>
				</div>
			</div>
		</a>
	</div>
</body>
</html>